html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #e3e0e8;
  font-size: 13pt;
}

.dark-bg {
  background-color: #211e21;
}

.light-hover {
  background-color: inherit;
}

.light-hover:hover {
  background-color: #443646;
}

.light-bg {
  background-color: #503185;
}

.cursor-pointer {
  cursor: pointer;
}
