html {
  width: 100vw;
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  color: #e3e0e8;
  font-size: 13pt;
}

.dark-bg {
  background-color: #211e21;
}

.light-hover {
  background-color: inherit;
  transition: background-color 0.2s ease-in-out;
}

.light-hover:hover {
  background-color: #443646;
}

.dark-hover {
  background-color: inherit;
  transition: background-color 0.2s ease-in-out;
}

.dark-hover:hover {
  background-color: rgba(46, 46, 46, 0.81);
}

.light-bg {
  background-color: #503185;
}

.blur-bg {
  backdrop-filter: blur(6px);
}

.cursor-pointer {
  cursor: pointer;
}

.row {
  /*margin-right: 0;*/
}

#mainRow.row {
  /*margin-left: 20px;*/
  /*padding-right: 12px;*/
  /*padding-left: -10px;*/
}