html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #e3e0e8;
}

.dark-bg {
  background-color: #1e181f;
}

.light-hover {
  background-color: inherit;
}

.light-hover:hover {
  background-color: #443646;
}

.light-bg {
  background-color: #2e252f;
}

.cursor-pointer {
  cursor: pointer;
}
